<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="swin.rat"
      android:versionCode="1"
      android:versionName="1.0">
    <application 
    	android:label="@string/app_name" android:name=".AcessObject" android:icon="@drawable/icon" android:theme="@style/MyStyle">
        <activity android:name="HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                		<action android:name="android.intent.action.MAIN" />
                		<category android:name="android.intent.category.LAUNCHER" />
        	</intent-filter>
        </activity>
        <activity 	android:name="NewActivity"
        android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
            	<action android:name="android.intent.action.MAIN" />
                <action android:name="swin.rat.CLOSE" />
            </intent-filter>
        </activity>
         <activity android:name="SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="SessionActivity"
        		  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="swin.rat.CLOSE" />
            </intent-filter>
        </activity>
     	<activity android:name="SelectionActivity"
     			  android:screenOrientation="landscape"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="OutputActivity"
                  android:label="@string/app_name"
                  
                   >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="HistoryActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="FeedbackActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
         </activity>
            <activity android:name="DisplayExerciseActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
</application>

<supports-screens 
		android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        ></supports-screens>
<uses-sdk android:targetSdkVersion="8" android:minSdkVersion="8"></uses-sdk>
</manifest> 
