<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="swin.rat"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="EventsActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
   		<activity android:name="KeyEvent"
			android:label="@string/app_name">
		</activity>
		<activity android:name="TimerEvent"
			android:label="@string/app_name">
		</activity>
</application>
<supports-screens android:normalScreens="true" android:largeScreens="true" android:anyDensity="true"></supports-screens>
</manifest> 
